<div class="col-md-6">
	<%= form_for @question.answers.new, :url => { :action => "create", :controller => "answers" }, remote: true do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :ans_description %>
		<%= f.text_area :ans_description, cols: "100", rows: "10", class: 'form-control' %>

		<%= f.submit "Submit", class: "btn btn-primary" %>
	<% end %>
</div>



